@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e2a47;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.link {
  margin-right: 10px;
}

a, a:hover, a:focus, a:active {
  color: #03a9f4;
  text-decoration: none;
}

div {
  color: rgb(107, 114, 128);
  font-size: 22px;
}

button span {
  color: white;
}
.bg-blue-1 {
  color: #344e86;
}

.MuiRating-root {
  color: #ffb400;
}