@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%; /* (16px*62.5% = 10px) */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e2a47;
  font-size: 1.6rem;
  color: #0e0e0e;
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerBar {
  background-color: white;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
}

.link {
  margin-right: 10px;
}

.userLink {
  margin-top: 5px;
  width: 25px;
  height: 25px;
}

a, a:hover, a:focus, a:active {
  color: #1565C0;
  font-weight: 500;
  text-decoration: none;
}

div {
  color: rgb(107, 114, 128);
  font-size: 22px;
}

button span {
  color: white;
}

.bg-blue-1 {
  color: #344e86;
}

.MuiRating-root {
  font-size: 30px!important;
}

.MuiInputBase-input {
  font-size: 22px!important;
  color: rgb(107, 114, 128)!important;
}